html {
    font-family: var(--font-family-sans);
}

body {
    width: 50em;
    margin: 0 auto;
    margin-top: 2em;
}

header {
    text-align: center;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-family-serif);
}
